* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: black;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  color: white;
}
